<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ENIssues</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>
<body class="bg-gray-100 min-h-screen">
    <header class="bg-gray-900 rounded-lg shadow-sm m-4 dark:bg-gray-800">
        <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-white md:text-5xl lg:text-6xl dark:text-white text-center">ENIssues</h1>
    </header>



    <footer class="bg-gray-900 text-white rounded-lg shadow-sm m-4 dark:bg-gray-800 text-center m-2">
        &copy; ENI TOP GROUP Y-A-A
    </footer>
</body>
</html>